body {
  margin: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 1;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 4rem;
    max-width: initial;
  }
}

@media (max-width: 418px) {
  .subtitulo {
    font-size: 2rem;
  }
}
